html {
	box-sizing: border-box;
	width: 1920px;
}
body,
main {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}
header {
	display: flex;
	width: 100%;
	/* width: 1920px; */
	margin: 0;
	padding: 0;
	height: 69px;
	background: linear-gradient(
		149deg,
		rgb(86 38 123) 55%,
		rgba(67, 36, 136, 1) 64%
	);
}
body {
	width: 1920px;
	height: 9543px;
	margin: 0;
	padding: 0;
	background-image: url('../img/body-background.webp');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}
.banner {
	margin-top: 133px;
	height: 289px;
	width: 1648px;
	padding: 45px;
	background: linear-gradient(149deg, rgb(184 40 156) 11%, rgb(129 39 191) 87%);
	border: 1px solid #000;
	border-radius: 20px;
	-webkit-box-shadow: -11px 10px 9px 0px rgba(251, 252, 253, 0.2) inset,
		10px -10px 9px 0px rgba(251, 252, 253, 0.2) inset;
	-moz-box-shadow: -11px 10px 9px 0px rgba(251, 252, 253, 0.2) inset,
		10px -10px 9px 0px rgba(251, 252, 253, 0.2) inset;
	box-shadow: -11px 10px 9px 0px rgba(251, 252, 253, 0.2) inset,
		10px -10px 9px 0px rgba(251, 252, 253, 0.2) inset;
	margin-bottom: 20px;
}
.second-banner {
	margin-top: 70px;
	padding: 25px 40px;
	h5 {
		margin-top: 85px;
		font-size: 32px;
	}
	button {
		margin-top: 20px;
	}
}
.third-banner {
	margin-top: 70px;
	margin-bottom: 50px;
	h6 {
		width: 375px;
		margin-top: -30px;
	}
	button {
		margin-top: 120px;
	}
}
.third-banner-pic1 {
	width: 236px;
	height: 156px;
	position: absolute;
	margin-top: -240px;
	margin-left: 350px;
	background-image: url('../img/third-banner-pic1.webp');
	background-size: cover;
	display: none;
}
.third-banner-pic2 {
	width: 251px;
	height: 205px;
	position: absolute;
	margin-top: -110px;
	margin-left: 480px;
	display: none;
	background-image: url('../img/third-banner-pic2.webp');
	background-size: cover;
}
.logo-img {
	margin: 16px 10px 16px 72px;
	width: 34px;
	height: 37px;
	padding: 0;
	position: relative;
	font-family: Ubuntu;
	display: inline-block;
}
span {
	padding: 0;
	margin: 0;
}
.logo {
	display: flex;
	flex-direction: row;
}
.logo-text {
	display: flex;
	flex-direction: column;
	line-height: 1rem;
	letter-spacing: 0.05rem;
	margin: 13px 10px 16px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	width: 2rem;
}
main {
	position: relative;
	margin: 0 69px 0 10%;
	/* margin-top: 133px; */
	/* margin-left: 220px; */
	margin-left: 10%;
	margin-right: 69px;
	height: auto;
	/* width: 1648px; */
}
.blue-coin {
	width: 159px;
	height: 167px;
	display: none;
	margin-top: -270px;
	margin-left: 590px;
	position: absolute;
	background-image: url('../img/blue-coin.webp');
	background-size: cover;
}
.green-coin {
	margin-top: -100px;
	margin-left: 440px;
	width: 206px;
	height: 216px;
	display: none;
	position: absolute;
	background-image: url('../img/green-coin.webp');
	background-size: cover;
}
.gallery {
	display: flex;
	background: none;
	width: 100%;
	justify-content: space-between;
	margin-top: 21px;
	margin-bottom: 21px;

	ol {
		display: flex;
	}
	li {
		list-style-type: none;
	}
}

.pic {
	border: 1px solid #ffc0d5;
	border-radius: 15px;
	width: 216px;
	height: 288px;
	background-size: 216px 288px;
}
.gallery-nav {
	width: 100%;
	display: none;
}
.gallery-narrow {
	display: flex;
	background: none;
	width: 100%;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 15px;
	height: 473px;
	.pic {
		width: 315px;
		height: 437px;
		background-size: 315px 437px;
	}
}

.gallery-big {
	display: flex;
	background: none;
	width: 100%;
	justify-content: space-between;
	margin-top: 33px;
	margin-bottom: 34px;
	height: 348px;
	.pic {
		width: 531px;
		height: 348px;
		background-size: 531px 348px;
	}
}

.youtube {
	width: 1643px;
	height: 924px;
	padding-left: 45%;
	padding-top: 27%;
	border: solid 10px #000;
	margin-top: 30px;
}
.ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: normal;
}
.ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: normal;
}
.ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
}
.ubuntu-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
}
.ubuntu-regular-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.ubuntu-medium-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: italic;
}
.ubuntu-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
}
h5 {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	text-transform: uppercase;
	background: linear-gradient(180deg, #fff 33%, #999 60%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: table;
}
p {
	font-family: 'Oswald';
	font-size: 24px;
	font-weight: 400;
	line-height: 35.57px;
	text-align: left;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 71.14px;
	text-align: left;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 53.35px;
	text-align: left;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	font-family: Oswald;
	font-size: 24px;
	font-weight: 400;
	line-height: 35.57px;
	text-align: left;
	margin: 0 0 0 30px;
	padding: 0;
	list-style-type: disc;
}
.first-banner-gradient {
	width: 826px;
	background: linear-gradient(0deg, #ffdf8e 20%, #ffc700 50%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: table;
	z-index: 50;
	top: 90px;
}
.first-banner-shadow {
	width: 826px;
	background: 0 0;
	text-shadow: 0 5px 3px #00000040;
	z-index: 10;
	top: 90px;
}
.gradient {
	width: 826px;
	background: linear-gradient(0deg, #ffdf8e 20%, #ffc700 50%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: table;
	z-index: 50;
}

.shadow {
	width: 826px;
	background: 0 0;
	text-shadow: 0 5px 3px #00000040;
	z-index: 10;
	/* top: 3240px; */
}
h6 {
	position: absolute;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 54px;
	text-transform: uppercase;
}
.nunc-but {
	font-family: Oswald;
	font-size: 35px;
	font-weight: 400;
	line-height: 51.87px;
	text-align: center;
	position: relative;
	height: 46px;
	width: 117px;
}
.nunc-but::before {
	height: 52px;
	width: 117px;
	border: 2px solid #d536ff;
	border-radius: 10px;
	background: transparent;
	display: block;
	position: absolute;
	content: '';
	padding: 10px;
}
.nunc-but::after {
	content: url('../img/arrow3.svg');
	margin-left: 10px;
}
.nunc-wrap {
	position: relative;
	display: flex;
	margin-top: 40px;
}
.nunc-wrap::before {
	content: 'Quisque luctus';
	font-family: Oswald;
	font-size: 35px;
	font-weight: 400;
	line-height: 51.87px;
	text-align: left;
	width: 210px;
	display: inline-block;
}
.full-star:after {
	content: '';
	background-image: url('../img/star.svg');
	background-repeat: repeat-x;
	background-position: center center;
	display: inline-flex;
	height: 45px;
	width: 230px;
	margin-left: 30px;
}
.feedback-star4 {
	display: inline-block;
	position: relative;
}
.feedback-star4::before {
	content: '';
	background-image: url('../img/full-star.svg');
	background-repeat: repeat-x;
	background-position: left center;
	display: inline-flex;
	height: 45px;
	width: 161px;
}
.feedback-star4::after {
	content: '';
	background-image: url('../img/empty-star.svg');
	background-repeat: repeat-x;
	background-position: center center;
	display: inline-flex;
	height: 44px;
	width: 44px;
}
.mess::after {
	content: 'kommentar';
	text-transform: uppercase;
	margin-left: 10px;
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 400;
	line-height: 27.58px;
	text-align: left;
	color: #b6b6b6;
	vertical-align: top;
}
.mess::before {
	content: url('../img/icon-mess.svg');
	width: 25px;
	height: 25px;
}
.like::before {
	content: url('../img/icon-like.svg');
	width: 25px;
	height: 25px;
}
.like::after {
	content: 'hilfreich';
	text-transform: uppercase;
	margin-left: 10px;
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 400;
	line-height: 27.58px;
	text-align: left;
	color: #b6b6b6;
	vertical-align: top;
}
.like {
	width: 190px;
	height: 25px;
}
button {
	background-color: #39dd00;
	width: 352px;
	height: 75px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px 0px #00000040, 5px 5px 10px 3px #ffffff80 inset;
	border: none;
	margin-top: 90px;
	display: block;
}
.big-berry {
	width: 376px;
	height: 406px;
	position: absolute;
	left: 1150px;
	top: 40px;
	transform: rotate(15deg);
}
.small-berry {
	width: 232.43px;
	height: 251.6px;
	position: absolute;
	left: 900px;
	top: 80px;
	transform: rotate(320deg);
}
button span {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 40px;
	/* line-height: 59.28px; */
	text-align: center;
	background-color: #3e3e3e;
	color: transparent;
	text-shadow: 0px 2px 2px rgb(255 255 255 / 93%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}
svg path {
	fill: inherit;
	stroke: inherit;
}
.feedback {
	background: #5c5c5c81;
	width: 100%;
	height: 220px;
	border: none;
	border-radius: 30px;
	margin-top: 50px;
	padding: 30px 40px 30px 40px;
}
.feedback-cut {
	width: 100%;
	height: 220px;
	border-radius: 30px;
	margin-top: 50px;
	padding: 30px 40px 0 40px;
	background: linear-gradient(
		180deg,
		rgba(158, 158, 158, 0.2) 0%,
		#442a4c 67.82%
	);
}
.feedback-cut::after {
	content: '';
	width: 100%;
	height: 220px;
	border-radius: 30px;
	background: linear-gradient(
		180deg,
		rgba(158, 158, 158, 0.2) 0%,
		#442a4c 67.82%
	);
	position: absolute;
	margin-top: -1433px;
	z-index: 500;
	margin-left: -40px;
}
.feedback-more {
	width: 195px;
	height: 22px;
	position: absolute;
	text-transform: uppercase;
	font-family: Ubuntu;
	font-size: 30px;
	font-weight: 500;
	line-height: 34.47px;
	text-align: center;
	z-index: 800;
	margin-left: 40%;
	margin-top: -1260px;
}
.feedback-more::before,
.feedback-more::after {
	content: url('../img/arrow3.svg');
	margin: 0 5px 0 5px;
}
.feedback-form {
	background: #5c5c5c81;
	width: 1449px;
	height: 415px;
	border: none;
	border-radius: 30px;
	margin: 50px 0 auto auto;
	padding: 30px 40px 30px 40px;
}
.feedback-form button {
	width: 437px;
	height: 58px;
	border-radius: 15px;
	border: 2px;
	border: 2px solid #3c004c;
	background-color: #9a38b4;
	box-shadow: none;
	margin-top: 0;
	font-family: Ubuntu;
	font-size: 27px;
	font-weight: 700;
	line-height: 31.04px;
	text-align: center;
	color: #fff;
}
.feedback-form .message {
	width: 844px;
	height: 254px;
	border-radius: 25px;
}

.feedback-form .name {
	width: 439px;
	height: 57px;
	border-radius: 15px;
}
.feedback-form .check {
	width: 439px;
	height: 93px;
	border-radius: 15px;
	border: 1px;
	border: 1px solid #d536ff;
	background-color: #d9d9d926;
	margin-bottom: 25px;
	padding: 20px 0 20px 40px;
}
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 48px;
	height: 48px;
}
.custom-checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	font-family: Ubuntu;
	font-size: 27px;
	font-weight: 400;
	line-height: 31.04px;
	text-align: center;
	text-transform: uppercase;
}
.custom-checkbox + label::after {
	content: '';
	display: inline-block;
	margin-left: -340px;
	margin-top: -10px;
	flex-shrink: 0;
	flex-grow: 0;
	border: none;
	margin-right: 0.5em;
	width: 48px;
	height: 48px;
}
.scroll {
	margin-top: 350px;
	margin-left: 80px;
	position: fixed;
}
.scroll::before {
	content: '';
	position: absolute;
	width: 62px;
	height: 62px;
	top: 15px;
	left: -30px;
	background: url(../img/arrow62.png) 0 0 repeat;
	background-size: 62px 62px;
	opacity: 50%;
}
nav {
	position: absolute;
	margin-top: 20px;
	margin-left: -10px;
	position: fixed;
	z-index: 900;
}
nav li {
	background: linear-gradient(
		233.07deg,
		rgba(183, 45, 147, 0.75) 25.16%,
		rgba(109, 17, 133, 0.75) 90.03%
	);
	width: 45px;
	height: 45px;
	list-style-type: none;
	border-radius: 5px;
	margin: 4px;
	padding: 8px;
}
nav li img {
	width: 29px;
	height: 29px;
}
nav li:hover {
	background: linear-gradient(233.07deg, #ff4bd1 25.16%, #bb4ed8 90.03%);
}
nav li:hover::before {
	content: url('../img/poligon.svg');
	width: 28px;
	height: 21px;
	display: block;
	position: absolute;
	margin-left: 54px;
	margin-top: -3px;
}
nav li:hover::after {
	content: '';
	font-family: 'Montserrat';
	font-size: 17px;
	font-weight: 700;
	line-height: 20.72px;
	text-align: left;
	height: 28px;
	padding-top: 5px;
	text-transform: uppercase;
	display: block;
	color: #6d1373;
	background-color: #d9d9d9cc;
	position: relative;
	width: 333px;
}
li#home:hover::after {
	content: 'Neque porro quisquam: Kalina';
	margin-top: -40px;
	margin-left: 74px;
}
li#navcheck:hover::after {
	content: 'Aenean lacus mi efficitur in venenatis';
	width: 410px;
	margin-top: -40px;
	margin-left: 74px;
}
li#graph:hover::after {
	content: 'Mauris ultricies ante sit amet ex imperdiet efficitur';
	width: 545px;
	margin-top: -40px;
	margin-left: 74px;
}
li#plusman:hover::after {
	content: 'Donec mi ex efficitur fringilla laoreet eget';
	width: 465px;
	margin-top: -40px;
	margin-left: 74px;
}
li#money:hover::after {
	content: 'Vestibulum vitae enim tellus';
	width: 333px;
	margin-top: -40px;
	margin-left: 74px;
}
li#eye:hover::after {
	content: 'Etiam malesuada suscipit eleifend. Integer malesuada';
	width: 580px;
	margin-top: -40px;
	margin-left: 74px;
}
li#mic:hover::after {
	content: 'Neque porro quisquam: Kalina';
	width: 333px;
	margin-top: -40px;
	margin-left: 74px;
}
li#mobile:hover::after {
	content: 'Mauris in metus luctus️';
	width: 250px;
	margin-top: -40px;
	margin-left: 74px;
}
li#faq:hover::after {
	content: 'In cursus faucibus ultricies';
	width: 333px;
	margin-top: -40px;
	margin-left: 74px;
}
li#comment:hover::after {
	content: 'Vestibulum auctor libero massa';
	width: 350px;
	margin-top: -40px;
	margin-left: 74px;
}
.name {
	padding: 20px 40px 10px;
}
.name::placeholder {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	font-weight: 500;
	line-height: 32.93px;
	text-align: left;
	color: #ffffff66;
}
.custom-checkbox:checked + label::after {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/check.svg');
}
.custom-checkbox + label::before {
	content: '';
	display: inline-block;
	width: 38px;
	height: 38px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #d536ff;
	background-color: #0000004d;
}
input {
	border: 1px solid #d536ff;
	background-color: #d9d9d926;
	margin-bottom: 25px;
}
.wrapper div {
	display: inline-block;
}
footer li {
	list-style-type: none;
	font-family: Montserrat;
	font-size: 17px;
	font-weight: 500;
	line-height: 20.73px;
	letter-spacing: -0.01em;
	text-align: left;
	margin-bottom: 30px;
}
footer .wrapper.mark div {
	padding: 0.9%;
	background-color: #3f1b44;
}
footer p {
	margin: 30px;
	text-align: center;
	font-family: Montserrat;
	font-size: 27px;
	font-weight: 500;
	line-height: 32.93px;
	letter-spacing: -0.05em;
	opacity: 50%;
}
.wrapper.mark {
	width: 70%;
	margin: 90px 14%;
}
footer ul li:first-child {
	color: #d536ff;
	font-weight: 700;
}
footer ul {
	margin-bottom: 70px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.form-star {
	width: 208px;
	height: 38.66px;
	background-image: url('../img/empty-star.svg');
	background-repeat: repeat-x;
	background-position: center center;
}
.label {
	font-family: Ubuntu;
	font-size: 25px;
	font-weight: 500;
	line-height: 28.74px;
	text-align: left;
	text-transform: uppercase;
}
.nest-feedback {
	background: #5c5c5c81;
	width: 1449px;
	height: 220px;
	border: none;
	border-radius: 30px;
	margin: 50px 0 auto auto;
	padding: 30px 40px 30px 40px;
}
.user {
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 500;
	display: block;
	line-height: px;
	margin-left: 70px;
}
.user::after {
	content: '04 september, 2024';
	font-family: Ubuntu;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #b6b6b6;
	width: 179px;
	display: block;
	position: absolute;
}
#top-menu {
	display: none;
}
.user::before {
	content: '';
	background-image: url(../img/icon-person.svg);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	height: 56px;
	width: 70px;
	position: absolute;
	margin-left: -80px;
}
.feedback p,
.nest-feedback p,
.feedback-cut p {
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 400;
	line-height: 27.58px;
	text-align: justify;
	padding: 0;
	margin: 0;
	margin-top: 30px;
}
footer {
	margin-top: 110px;
	padding-left: 220px;
	padding-right: 69px;
	padding-top: 50px;
	width: 100%;
	height: 1102px;
	background-color: #361039;
	a {
		text-decoration: none;
		margin: o;
		padding: 0;
		color: inherit;
	}
}
.margins {
	margin-top: 25px;
}
.like-wrapper {
	display: flex;
	justify-content: right;
	height: 25px;
	margin-top: 20px;
}
.footer-nav {
	text-transform: uppercase;
	font-size: 30px;
	padding: 15px 25px;
	font-family: Ubuntu;
	font-weight: 400;
	line-height: 34.48px;
	text-align: left;
	background-color: #3c004c;
	border-bottom: solid 1px #6d1185;
	display: none;
}
.submenu {
	.footer-nav {
		background: linear-gradient(54deg, #eacbf3 4%, #3c004c 90%);
		color: #3c004c;
		width: inherit;
	}

	margin: 52px -30px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: 0.5s ease-in-out;
	position: absolute;
	width: 100%;
}

.upper-level > li:hover .submenu {
	opacity: 1;
	transform: scaleY(1);
}

/* карусель старт */
carousel-media {
	/* Arrange media horizontally */
	display: flex;
}
.carousel-scroll-container {
	display: none;
	/* Enable horizontal scrolling */
	overflow-x: auto;
	/* overflow-x: hidden; */
	/* Enable horizontal scroll snap */
	scroll-snap-type: x proximity;
	/* Smoothly snap from one focal point to another */
	scroll-behavior: smooth;
	overflow-y: hidden;
}
.carousel-item {
	/* Limit the height of each media item */
	/* height: 248px; */
	/* Prevent media from shrinking */
	flex-shrink: 0;
	/* The focal point for each item is the center */
	scroll-snap-align: center;
}
.carousel-item:first-of-type {
	/* Allow users to fully scroll to the start */
	scroll-snap-align: start;
}
.carousel-item:last-of-type {
	/* Allow users to fully scroll to the end */
	scroll-snap-align: end;
}
/* Target direct descendant too in case the images have a wrapper parent */
/* .carousel-item > *,
.carousel-item :is(div, picture, figure, img) {
	height: 248px;
} */
.carousel-item div {
	/* Remove line height (typically done in a CSS reset) */
	display: block;
	/* Responsive width based on aspect ratio */
	/* width: 380px; */
}

/* карусель финиш */
@media (max-width: 834px) {
	.carousel-scroll-container {
		display: block;
	}
	html {
		width: 834px;
	}
	body {
		width: 834px;
		height: 4092px;
		background-image: url(../img/background-tablet.webp);
		background-size: 834px 4092px;
	}
	#top-menu {
		display: inline-block;
		margin: 0.5rem 1rem;
	}
	header {
		justify-content: space-between;
		width: 834px;
		height: 59px;
	}
	.logo {
		margin-right: 50px;
		margin-top: -5px;
	}
	nav {
		display: none;
	}
	main {
		margin-left: 30px;
		margin-right: 25px;
	}
	.blue-coin {
		display: block;
	}
	.green-coin {
		display: block;
	}
	.banner {
		height: 221px;
		width: 776px;
		padding: 30px;
		border-radius: 32px;
		margin-top: 60px;
	}
	button {
		width: 209px;
		height: 44px;
		margin-top: 75px;
	}
	button span {
		font-size: 24px;
	}
	.first-banner-shadow,
	.first-banner-gradient {
		top: 75px;
	}
	.third-banner {
		height: 193px;
		h6 {
			width: 450px;
			margin-top: 10px;
			line-height: 65px;
		}
		.third-banner-pic1 {
			display: block;
		}
		.third-banner-pic2 {
			display: block;
		}
		button {
			margin-top: 70px;
		}
	}
	.margins {
		margin-bottom: 20px;
		margin-top: 0;
	}
	h6 {
		font-size: 35px;
		font-weight: 500;
	}
	h5 {
		font-size: 30px;
	}
	h1 {
		font-size: 25px;
	}
	p,
	li {
		font-size: 18px;
		font-weight: 300;
	}
	.small-berry {
		width: 94.27px;
		height: 102.05px;
		position: absolute;
		left: 600px;
		top: 30px;
		transform: rotate(334deg);
	}
	.big-berry {
		width: 150.42px;
		height: 162.82px;
		left: 550px;
		top: 160px;
		transform: rotate(13deg);
	}
	.youtube {
		width: 776px;
		height: 439px;
		padding-left: 40%;
		padding-top: 25%;
	}
	.hide {
		display: none;
	}
	.gallery {
		width: 776px;
	}
	.gallery-nav {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		.scroll {
			margin: 20px 0 50px 0;
			padding: 0;
			position: relative;
			width: 140px;
			height: 54px;
		}
		.scroll::before {
			width: 54px;
			height: 54px;
			background: url(../img/arrow62.png) 0 0 repeat;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			background-size: 54px 54px;
			opacity: 90%;
		}
		.scroll::after {
			content: '';
			position: absolute;
			width: 54px;
			height: 54px;
			top: 15px;
			left: 110px;
			background: url(../img/arrow62.png) 0 0 repeat;
			background-size: 54px 54px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}

	.gallery-big {
		margin-bottom: 20px;
		height: 270px;
		.pic {
			width: 380px;
			height: 248px;
		}
	}
	.gallery-narrow {
		height: 361px;
		.pic {
			width: 240px;
			height: 361px;
		}
	}
	.pic {
		width: 180px;
		height: 240px;
		background-size: 180px 240px;
		border-radius: 15px;
	}
	.second-banner {
		margin-top: 30px;
		.shadow,
		.gradient {
			margin-top: 50px;
		}
		button {
			margin-top: 65px;
		}
		h5 {
			margin-top: 6px;
			font-size: 30px;
		}
	}
	.full-star:after {
		background-image: url('../img/star-tablet.svg');
		background-repeat: repeat-x;
		background-position: center center;
		height: 29px;
		width: 145px;
		margin-left: 30px;
	}

	.feedback-star4::before {
		content: '';
		background-image: url('../img/full-star-tablet.svg');
		background-repeat: repeat-x;
		background-position: left center;
		display: inline-flex;
		height: 23px;
		width: 93px;
	}
	.feedback-star4::after {
		content: '';
		background-image: url('../img/empty-star-tablet.svg');
		background-repeat: repeat-x;
		background-position: center center;
		display: inline-flex;
		height: 23px;
		width: 23px;
	}
	.nunc-wrap::before {
		font-size: 25px;
	}
	.nunc-but::before {
		height: 37px;
		width: 92px;
		position: absolute;
		margin-top: 10px;
	}
	.nunc-but::after {
		content: url('../img/arrow-tablet.svg');
	}
	.nunc-but {
		font-size: 25px;
		margin-left: 145px;
		position: absolute;
		width: 90px;
	}
	.user {
		font-size: 18px;
	}
	.user::before {
		background-image: url(../img/icon-person-tablet.svg);
		height: 45px;
		width: 45px;
		margin-left: -60px;
	}
	.feedback p,
	.nest-feedback p,
	.feedback-cut p {
		font-size: 16px;
		line-height: 18.38px;
		font-weight: 300;
	}
	.like {
		width: 110px;
	}
	.like::before {
		content: url('../img/icon-like-tablet.svg');
		width: 16.66px;
		height: 16.99px;
	}
	.like::after {
		font-size: 15px;
		margin-left: 6px;
	}
	.mess::before {
		content: url('../img/icon-mess-tablet.svg');
		width: 17px;
		height: 17px;
	}
	.mess::after {
		font-size: 15px;
		margin-left: 2px;
	}
	.nest-feedback {
		width: 676px;
		height: 186px;
		margin: 50px 0 auto auto;
		padding: 30px 40px 30px 40px;

		p {
			margin-top: 40px;
		}
	}
	.feedback-form {
		width: 100%;
		height: 230px;
		border: none;
		.message {
			width: 367px;
			height: 134px;
			border-radius: 12px;
		}
		.name {
			width: 301px;
			height: 38px;
			font-size: 15px;
			padding: 10px 20px;
		}
		.check {
			width: 301px;
			height: 38px;
			padding: 2px 20px;
			margin-bottom: 10px;
			background-color: #0000001a;
		}
		button {
			width: 299px;
			height: 38px;
			border: 1px solid #3c004c;
			font-size: 17px;
			text-transform: uppercase;
		}
	}
	.feedback-form.nest {
		width: 676px;
		height: 230px;
		.message {
			width: 261px;
			height: 134px;
		}
	}
	.custom-checkbox + label {
		font-size: 17px;
		text-transform: none;
	}
	.custom-checkbox + label::before {
		width: 23px;
		height: 23px;
	}
	.custom-checkbox + label::after {
		display: inline-block;
		margin-left: -183px;
		margin-top: -5px;
		width: 23px;
		height: 23px;
	}
	input {
		background-color: #0000001a;
		margin-bottom: 10px;
	}
	.custom-checkbox:checked + label::after {
		background-image: url(../img/check-tablet.svg);
	}
	input[type='text']::placeholder {
		font-size: 15px;
		text-transform: none;
	}
	.label {
		font-size: 20px;
		font-weight: 500;
		line-height: 22.99px;
	}
	.feedback-more {
		font-size: 25px;
		margin-left: 30%;
		margin-top: 20px;
	}
	.feedback-more::before,
	.feedback-more::after {
		content: url('../img/arrow-tablet.svg');
		margin: 0 5px 0 5px;
	}
	.feedback-cut::after {
		margin-top: -145px;
	}
	footer {
		background-color: #2c0038;
		display: flex;
		flex-direction: column;
		margin-top: 80px;
		padding: 0;
		width: 834px;
		height: 1200px;
		text-transform: uppercase;
		p {
			font-size: 10px;
			width: 500px;
			line-height: 0.8rem;
			margin-left: 20%;
			text-transform: none;
			margin: 0 0 0 20%;
		}
		ul,
		li {
			margin: 0;
			padding: 0;
			font-weight: inherit;
		}
	}
	footer ul li:first-child {
		color: inherit;
		font-weight: inherit;
	}
	.footer-nav {
		display: flex;
	}
	.wrapper.mark {
		width: 100%;
		margin: 0 0 40px 0;
		padding: 50px 50px 10px 50px;
		div {
			width: 89px;
			height: 35px;
			padding: 0;
			img {
				width: 80px;
			}
		}
	}
}
