@media (max-width: 1280px) {
	:root {
		--body-width: 1280px;
	}
	/* ipad air */
	@media (max-width: 820px) {
		:root {
			--body-width: 820px;
		}
		/* ipad mini */
		@media (max-width: 768px) {
			:root {
				--body-width: 768px;
			}
			/* blackberry play book */
			@media (max-width: 600px) {
				:root {
					--body-width: 600px;
				}
			}
		}
	}
} /* 1280 */
